<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/showLecture/register/take_course/{{lecture.id}}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-2">{{lecture.title}}</span>
    </a>
    <span class="fs-6 mt-2">
        <img src={{lecture.picture}} alt="" width="32" height="32" class="rounded-circle me-2"> {{lecture.lecturer}}
    </span>
    <input type="hidden" id="lectureId" value="{{lecture.id}}">

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            {{#isHome}}
            <a href="/showLecture/register/take_course/{{lecture.id}}" class="nav-link active"  aria-current="page">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                홈 화면
            </a>
            {{/isHome}}
            {{^isHome}}
                <a href="/showLecture/register/take_course/{{lecture.id}}" class="nav-link ">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    홈 화면
                </a>
            {{/isHome}}
        </li>
        <li>
            {{#isIntro}}
            <a href="/showLecture/register/take_course/{{lecture.id}}/introduction" class="nav-link link-dark active"  aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                강의 소개, 강사 소개
            </a>
            {{/isIntro}}
            {{^isIntro}}
                <a href="/showLecture/register/take_course/{{lecture.id}}/introduction" class="nav-link link-dark" >
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    강의 소개, 강사 소개
                </a>
            {{/isIntro}}
        </li>
        <li>
            {{#isNotice}}
            <a href="/showLecture/register/take_course/{{lecture.id}}/notice" class="nav-link link-dark active"  aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                공지사항
            </a>
            {{/isNotice}}
            {{^isNotice}}
                <a href="/showLecture/register/take_course/{{lecture.id}}/notice" class="nav-link link-dark "  >
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    공지사항
                </a>
            {{/isNotice}}
        </li>
        <li>
            {{#isLesson}}
            <a href="/showLecture/register/take_course/{{lecture.id}}/lesson" class="nav-link link-dark active">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                수업
            </a>
            {{/isLesson}}
            {{^isLesson}}
                <a href="/showLecture/register/take_course/{{lecture.id}}/lesson" class="nav-link link-dark " aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    수업
                </a>
            {{/isLesson}}
        </li>
        <li>
            {{#isAssignment}}
            <a href="/showLecture/register/take_course/{{lecture.id}}/assignment" class="nav-link link-dark active" aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                과제
            </a>
            {{/isAssignment}}
            {{^isAssignment}}
                <a href="/showLecture/register/take_course/{{lecture.id}}/assignment" class="nav-link link-dark ">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    과제
                </a>
            {{/isAssignment}}
        </li>

    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src={{userPicture}} alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>관리</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            {{#isLecturer}}
            <li><a class="dropdown-item" href="/showLecture/register/take_course/{{lecture.id}}/change">강의 정보 변경</a></li>
            {{/isLecturer}}
            <li><a class="dropdown-item" href="/showLecture/register/take_course/{{lecture.id}}/attendeeList">수강생 조회</a></li>

            <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#reportModal"  > 신고 </button></li>
            {{#isAttendee}}
            <li><hr class="dropdown-divider"></li>

            <li><button type="button" class="dropdown-item" id="btn-lecture-leave" >강의 탈퇴</button></li>
            {{/isAttendee}}

        </ul>
    </div>
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel">신고</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="reportContent"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btn-report">Send message</button>
                </div>
            </div>
        </div>
    </div>


</div>



