{{>layout/header}}



<!--여기서 본편-->
<div   style="padding-top: 0px; ">
    <!--여기서 본편 내용-->
    <div class="container justify-content-around">

        <div class="d-flex flex-row mb-3" >
            <div class="p-2 bd-highlight"> {{>layout/sidebar}}</div>

            <div class="d-flex flex-column flex-shrink-1  p-3 flex-fill" >
                <div class="d-flex justify-content-end">
                    <a type="button" href="/openLecture" class="btn btn-success active  my-3"> 수업 등록</a>
                </div>

                <h1> 아무말이나 쳐보기</h1>
                <div > 아무말이나 쳐보기이이이잇</div>
                <h1> 아무말이나 쳐보기</h1>
                <div > 아무말이나 쳐보기이이이잇</div>
                <h1> 아무말이나 쳐보기</h1>
                <div > 아무말이나 쳐보기이이이잇</div>
                <h1> 아무말이나 쳐보기</h1>
                <div > 아무말이나 쳐보기이이이잇</div>
                <h1> 아무말이나 쳐보기</h1>
                <div > 아무말이나 쳐보기이이이잇</div>
                <h1> 아무말이나 쳐보기</h1>
                <div > 아무말이나 쳐보기이이이잇</div>
                <h1> 아무말이나 쳐보기</h1>
                <div > 아무말이나 쳐보기이이이잇</div>
                <h1> 아무말이나 쳐보기</h1>
                <div > 아무말이나 쳐보기이이이잇</div>
                <h1> 아무말이나 쳐보기</h1>
                <div > 아무말이나 쳐보기이이이잇</div>
                <h1> 아무말이나 쳐보기</h1>
                <div > 끗</div>
            </div>

        </div>



    </div>
</div>


{{>layout/footer}}