{{>layout/header}}



<!--여기서 본편-->
<div   style="padding-top: 0px; ">
    <!--여기서 본편 내용-->
    <div class="container justify-content-around">

        <div class="d-flex flex-row mb-3" >
            <div class="p-2 bd-highlight"> {{>layout/sidebar}}</div>
            <input type="hidden" id="lessonId" value="{{lesson.id}}">

            <div class="d-flex flex-column flex-shrink-1  p-3 flex-fill" >
                <div class="d-flex flex-row mb-3 justify-content-between" >
                    {{#prevLesson}}
                        <a href="/showLecture/register/take_course/{{lecture.id}}/lesson/{{prevLesson.id}}" role="button" class="btn btn-primary">이전 강의</a>
                    {{/prevLesson}}
                    {{^prevLesson}}
                        <button type="button" class="btn btn-secondary" onclick="alert('이전강의가 없습니다.');">이전 강의</button>
                    {{/prevLesson}}

                    {{#nextLesson}}
                        <a href="/showLecture/register/take_course/{{lecture.id}}/lesson/{{nextLesson.id}}" role="button" class="btn btn-primary">다음 강의</a>
                    {{/nextLesson}}
                    {{^nextLesson}}
                        <button type="button" class="btn btn-secondary" onclick="alert('다음강의가 없습니다.');">다음 강의</button>
                    {{/nextLesson}}


                </div>


                <div class="form-group row mb-4">
                    <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요" value="{{lesson.title}}" readonly>
                </div>

                <div class="form-group row mb-4">
                    <iframe class=”embed-responsive-item” width="700" height="500"  src="{{lesson.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>

                <div class="d-flex flex-row mb-3" >
                    <a href="/showLecture/register/take_course/{{lecture.id}}/lesson/" role="button" class="btn btn-secondary"> 수업목록</a>
                    <a href="/showLecture/register/take_course/{{lecture.id}}/lesson/{{lesson.id}}/update" role="button" class="btn btn-secondary"> 수정</a>
                    <button type="button" class="btn btn-primary" id="btn-letureLesson-delete"> 삭제</button>
                </div>
            </div>

        </div>



    </div>
</div>


{{>layout/footer}}