{{>layout/header}}



<!--여기서 본편-->
<div   style="padding-top: 0px; ">
    <!--여기서 본편 내용-->
    <div class="container justify-content-around">

        <div class="d-flex flex-row mb-3" >
            <div class="p-2 bd-highlight"> {{>layout/sidebar}}</div>
            <input type="hidden" id="lectureId2" value="{{lecture.id}}">
            <div class="d-flex flex-column flex-shrink-1  p-3 flex-fill" >
                <h1> 과목 공지사항 등록 </h1>
                <div class="form-group row mb-4">
                    <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
                </div>

                <div class="form-group row mb-4">

                    <input type="text" class="form-control" id="content" placeholder="공지사항을 입력하세요.">
                </div>


                <a href="/" role="button" class="btn btn-secondary">취소</a>
                <button type="button" class="btn btn-primary" id="btn-lecture-notice-save">등록</button>

            </div>

        </div>



    </div>
</div>


{{>layout/footer}}