{{>layout/header}}



<!--여기서 본편-->
<div   style="padding-top: 0px; ">
    <!--여기서 본편 내용-->
    {{^isGuest}}
        <div class="container d-flex flex-wrap justify-content-end">
            <a type="button" href="/openLecture" class="btn btn-success active  my-3"> 강의 개설</a>
        </div>
    {{/isGuest}}
    <div class="container justify-content-around">

        <h4>강의 정보</h4>



        <div class="form-group row mb-4">
            <div class="d-flex flex-column flex-shrink-1  p-3 flex-fill" >
            <h2>[강의] {{lecture.title}}</h2>
                <div class="d-flex flex-row flex-shrink-1  p-3 flex-fill" >
                    <img src={{lecture.picture}} alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>{{lecture.lecturer}}</strong>

                </div>
            </div>
            <hr class="my-1">
        </div>



        <div class="form-group row mb-4 fs-5">
            <div class="d-flex flex-column flex-shrink-1  p-3 flex-fill" >
            <h3 class="mb-3"> 소개글 </h3>
            <div>
                {{lecture.outline}}
            </div>
            </div>

        </div>

        <input type="hidden" id="lectureId" value="{{lecture.id}}">

        <a href="/" role="button" class="btn btn-secondary">취소</a>
        {{#isLecturer}}
            <a href="/showLecture/register/take_course/{{lecture.id}}" role="button" class="btn btn btn-primary">강의로 가기</a>
        {{/isLecturer}}
        {{^isLecturer}}

            {{#isAttendee}}
                <a href="/showLecture/register/take_course/{{lecture.id}}" role="button" class="btn btn btn-primary">강의로 가기</a>
            {{/isAttendee}}
            {{^isAttendee}}
                {{^isGuest}}
                    <button type="button" class="btn btn-primary" id="btn-lecture_registration">강의 수강</button>
                {{/isGuest}}
            {{/isAttendee}}
        {{/isLecturer}}


    </div>
</div>


{{>layout/footer}}