{{>layout/header}}



<!--여기서 본편-->
<div   style="padding-top: 0px; ">
    <!--여기서 본편 내용-->

    <div class="container justify-content-around">

        <h1>강의 개설</h1>

        <div class="form-group row mb-4">
            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
        </div>

        <div class="form-group row mb-4">

            <input type="text" class="form-control" id="outline" placeholder="과제에 대한 소개글을 입력하세요.">
        </div>


        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-lecture-save">등록</button>


    </div>
</div>


{{>layout/footer}}