{{>layout/header}}



<!--여기서 본편-->
<div   style="padding-top: 0px; ">
    <!--여기서 본편 내용-->
    <div class="container d-flex flex-wrap justify-content-end">
        <a type="button" href="/openLecture" class="btn btn-success active  my-3"> 강의 개설</a>
    </div>
    <div class="container justify-content-around">

        <h1>강의 정보</h1>

        <div class="form-group row mb-4">
            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요" readonly value="{{lecture.title}}">
        </div>

        <div class="form-group row mb-4">
            <input type="text" class="form-control" id="outline" placeholder="과제에 대한 소개글을 입력하세요." readonly value="{{lecture.outline}}">
        </div>
        <input type="hidden" id="lectureId" value="{{lectureId}}">

        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-lecture_registration">강의 수강</button>


    </div>
</div>


{{>layout/footer}}