{{>layout/header}}



<!--여기서 본편-->
<div   style="padding-top: 0px; ">
    <!--여기서 본편 내용-->
    <div class="container justify-content-around">

        <h1>수강중인 강의</h1>
        <table class="table table-horizontal table-bordered px-3"  >
            <thead class="thead-strong">
            <colgroup>
                <col width=10%>
                <col width=60%>
                <col width=20%>
                <col width=10%>
            </colgroup>
            <tr>
                <th>강의 고유 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#lectures}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/showLecture/register/take_course/{{id}}">{{title}}</a></td>
                    <td>{{lecturer}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/lectures}}
            </tbody>
        </table>

    </div>
</div>


{{>layout/footer}}