{{>layout/header}}



<!--여기서 본편-->
<div   style="padding-top: 0px; ">
    <!--여기서 본편 내용-->
    <div class="container justify-content-around">
        <h1 class=""> 공지 사항 </h1>
        <div class ="d-flex flex-col">
            <div class="form-group row mb-4">
                <div class="d-flex flex-row mb-3" >
                    <input type="file" id="assignFile" multiple>
                    <button type="button" class="btn btn-primary" id="btn-lecture-assignment-submit">파일 업로드</button>
                </div>

                <input type="text" id="dateTimePicker" class="form-control" placeholder="클릭하여 과제 제출 날짜/ 시간을 선택해주세요." readonly>
            </div>
    </div>
</div>


{{>layout/footer}}